@import '~antd/dist/antd.css';

.ant-menu-horizontal {
  border-bottom: none;
  box-shadow: none;
  border: none;
}

ul .ant-menu-horizontal {
  background: transparent;
}

.ant-menu-horizontal > .ant-menu-item {
  border-bottom: white !important;
  align-items: center;
  justify-content: center;
}

.ant-menu-horizontal > .ant-menu-item-only-child {
  margin-top: 0rem;
}


.ant-form-horizontal {
  width: 80%;
}

.ant-list-vertical .ant-list-item-extra {
  margin: 0;
}

.ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected {
  background: #78757C;
}

.ant-menu-item-selected {
  color: white;
}

.ant-menu-inline .ant-menu-item::after {
  border-right: 5px solid #352D39;
}

.ant-menu-item-selected a {
  color: white;
}

.ant-menu-item:hover {
  color: white;
}

.ant-menu-item a:hover {
  color: white;
}

.ant-btn-primary {
  color: #fff;
  background: #352D39;
  border-color: #352D39;
  text-shadow: 0 -1px 0 rgb(0 0 0 / 12%);
  box-shadow: 0 2px 0 rgb(0 0 0 / 5%);
}

.ant-btn-primary:hover {
  color: #fff;
  background: #78757C;
  border-color: #78757C;
}

.ant-btn:active, .ant-btn:focus {
  color: #fff;
  background: #78757C;
  border-color: #78757C;
}

::selection {
  background: #78757C;
}